<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1C_7._7_GJ_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <_1C_7._7_GJ_Launcher.Properties.Settings>
            <setting name="exePath" serializeAs="String">
                <value>C:\Program Files\1Cv77\1cv7.exe</value>
            </setting>
            <setting name="basePath" serializeAs="String">
                <value>D:\ARM</value>
            </setting>
            <setting name="user1" serializeAs="String">
                <value>ОператорККМ</value>
            </setting>
            <setting name="user2" serializeAs="String">
                <value>Кладовщик</value>
            </setting>
            <setting name="user3" serializeAs="String">
                <value>TSD</value>
            </setting>
            <setting name="user4" serializeAs="String">
                <value>Администратор</value>
            </setting>
            <setting name="userpass1" serializeAs="String">
                <value>gjregfntkm</value>
            </setting>
            <setting name="userpass2" serializeAs="String">
                <value>gjregfntkm</value>
            </setting>
            <setting name="userpass3" serializeAs="String">
                <value>сканер</value>
            </setting>
            <setting name="userpass4" serializeAs="String">
                <value>vjybnjh</value>
            </setting>
            <setting name="ExclusiveMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsPanel" serializeAs="String">
                <value>True</value>
            </setting>
        </_1C_7._7_GJ_Launcher.Properties.Settings>
    </userSettings>
</configuration>